@use 'sass:color'
@use 'colors' as *

// Counter for number of locations
.x-stockists
  .counter-badge
    display: inline-block
    background: $butterscotch
    color: $w
    font-size: 1.2rem
    padding: .2em 1em .3em
    margin-left: 0.5em
    border-radius: 20px
    min-width: 1.5em
    text-align: center
    font-weight: 500

  .active
    .counter-badge
      font-weight: 900
