@use 'sass:color'
@use 'colors' as *
@use 'index' as *

// No businesses message
.blf-no-businesses
  padding: 20px
  background: color.adjust($light-gray, $lightness: 2%)
  border: 1px solid $border-color
  border-radius: 5px
  color: $dark-gray
  text-align: center
  margin: 20px 0
  
  h3
    margin-top: 0
    margin-bottom: 10px
    color: $dark-gray
    
  p
    margin-bottom: 10px
    
    &:last-child
      margin-bottom: 0
      
    small
      color: $cadet-gray
      font-style: italic

// Container
.x-stockists
  // padding: 24px
  color: #222
  // font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial

// Grid layout
.x-stockists
  .grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 16px
    transition: all $transition-speed ease

// Responsive tweaks
@media (max-width: 900px)
  .x-stockists
    .grid
      grid-template-columns: repeat(2, 1fr)

@media (max-width: 600px)
  .x-stockists
    .grid
      grid-template-columns: 1fr
